@{
    ViewBag.title = "Registrar Only";
}

<div class="mt-5">
    <h3>
        Acme Registrar Only
    </h3>
    <p class="mt-1">
        Do you want to know a secret?
    </p>
    <p class="mt-2">
        You are More Powerfull than any other users.
    </p>
    <div>
        <a class="btn btn-light" asp-action="index" asp-controller="home" >Close</a>
    </div>
</div>