@{ 
    ViewBag.title = "Exception";
}

<div class="mt-5 ">
    <h3 class="text-danger">Exception - File Or Directory Not found</h3>
    <div class="mt-2">
        <p> The resources your are looking for might  be removed, has its name changed, or is temporarily unavailable.</p>
    </div>
</div>