@model ShowErrorDTO
@{
    ViewBag.title = "Status Error";
}

<div class="mt-5">
    <h1 class="text-danger">Error - @Model.StatusCode. Page Not Found.  </h1>
    <p class="text-primary">OOPS! We are really sorry for the inconvenince. Please contact to our team test@gmail.com.</p>
</div>