@model UserPasswordRecoverByEmailDTO;
@{ 
    ViewBag.title = "Recover Password Using Email";
}

<div class="container mt-5">
    <h3>Acme Password Recovery</h3>
    <p>Forgot your password? Enter email to recover your password.</p>
    <form method="post" class="mt-5">
        <div class="form-group row">
            <label class="col col-2">Email:</label>
            <input class="col col-10" type="email" asp-for="@Model.Email" />
        </div>
        <div class="text-danger" asp-validation-summary="All"> </div>
        <div class="row">
            <div class="col col-4" ></div>
            <div class="col-4" ><a asp-controller="account" asp-action="login">Login</a></div>
            <div class="col-4">
                <a class="btn btn-light" asp-controller="account" asp-action="login" >Cancel</a>
                <button class="btn btn-success" type="submit" asp-controller="account" asp-action="RecoverPasswordUsingEmail" >Submit</button>
            </div>
        </div>
    </form>

</div>